@import '../../assets/scss/variables';

.project-card-container{
    width: 100%;
    border-bottom: 2px solid var(--color-base);
    padding-bottom: 3vh;

    .project-name{
        width: 100%;
        text-align: center;
    }

    .project-container{
        display: flex;
        flex-direction: row;
        width: 100%;

        .first-column{
            display: flex;
            flex-direction: column;
            width: 50vw;
           
            .buttons-container{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
            }
        }

        .second-column{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 5vw;

            .project-description{
                text-align: right;    
            }

            .techs-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                :first-child{
                    padding-left: 0;
                }

                :last-child{
                    padding-right: 0;
                }
            }
        }
    }
}