@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.container {
  display: flex;
  flex-direction: column;
  @include margin-top(1);
  border-top: 1px solid var(--color-gray-border);

  h1 {
    text-align: center;
    @include margin-top(0);
    @include margin-bottom(0);
    @include padding-equal(1);
  }

  .section {
    display: flex;
    @include padding-equal(1);
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      border-bottom: 0.5px solid var(--color-gray-border);
    }

    .image-wrapper {
      max-height: 60vh;
      max-width: 60vw;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .description {
      @include margin-top(1);

      .header {
        display: flex;
        justify-content: center;

        h3 {
          @include margin-top(0);
        }

        .badge {
          border: 1px solid var(--color-gray-border);
          border-radius: 10px;
          @include margin(-0.4, 0, 0, 0.5);
          height: fit-content;
          @include padding-equal(0.2);
          background-color: var(--color-primary);
          font-weight: bold;
          font-size: 14px;
        }
      }

      .text {
        text-align: justify;
        h5 {
          @include margin(0.5, 0, 0, 0);
          text-align: center;
        }

        .techs {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

.more-projects {
  display: flex;
  justify-content: center;
  @include padding-equal(1);
  border-bottom: 1px solid var(--color-gray-border);

  & button {
    border-radius: $button-border-radius;
    background-color: var(--color-base);
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 26px;
    @include padding-equal(0.2);
    border: medium solid var(--color-secondary);
    line-height: $typographic-base-line-height;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--color-base);
      background-color: var(--color-secondary);
    }
  }
}

@include breakpoint-sm {
  .container {
    .section {
      .image-wrapper {
        width: 40vw;
        max-height: unset;
      }
    }
  }
}

@include breakpoint-md {
  .container {
    width: 98vw;
    .section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include padding-equal(2);
      align-items: unset;

      .image-wrapper {
        width: 40vw;
        height: 60vh;
      }

      .description {
        width: 45vw;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}
