@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
    border-bottom: 1px solid var(--color-primary);
}