@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.card-container{
    width: 200px;
    height: 30vh;
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 6px var(--color-gray-border), 0 3px 6px var(--color-gray-border);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

    .image-container{
        height: 50%;
        padding-top: 5vh;

        .image{
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }

    .title{
        font-size: 1.5rem;
        color: var(--color-base);
    }

    .date{
        text-align: right;
        font-size: 0.75rem;
        padding-right: 5px;
    }
    
}