@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.layout {
  // lost-center: $layout-width;
  lost-center: 100%;
  background-color: var(--bg);
  color: var(--textNormal);
  transition: all 0.2s ease-out;
}
