.view-button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--color-base);
    border-radius: 10px;

    a{
        color: var(--color-base);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
}