@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.contacts {
  &__list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    margin: 10px -3px;

    &-item {
      padding: 0;
      margin: 4px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: $button-height;
      width: $button-height;
      line-height: $button-height;
      border-radius: 50%;
      text-align: center;
      border: 1px solid var(--textNormal);

      &-link {
        border: 0;
        display: flex;
        color: var(--textNormal);

        &:hover,
        &:focus {
          color: var(--color-primary);
        }
      }
    }
  }
}
